img {
    width: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 14.5px;
    margin-right: auto;
  }

  .Shorthaul img {
    width: 400px;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
  }



  .PlaneNames {
    display: flex;

  }

  .PlaneName {
    margin-right: 165px;
    margin-left: 125px;
    font-size: 30px;
  }

  .planes-page {
    background-image: url('images/AIRBUS_Blue.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  .PlaneOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.PlaneOptions a {
    font-size: 55px; 
    text-decoration: none;
    color: #000000; 
    margin-bottom: 200px; 
    margin-top: 200px;
}
.MainPage {
    background-image: url('/images/PlanesandCoaster.jpg'); 
    background-size: cover; 
    
    background-repeat: no-repeat; 
}
.CoasterNames {
  display: flex;

}

.CoasterName {
  margin-right: 165px;
  margin-left: 125px;
  font-size: 30px;
}

.btn {
  font-size: 2rem;
  padding: 20px 40px; 
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
}

.btn:hover {
  background-color: #0056b3; 
  transform: translateY(-3px); 
}

.PlanesorCoasters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.PlanesorCoasters {
display: flex;
gap: 10px;
}

.PlanesorCoasters button {
padding: 15px 30px;
font-size: 2rem;
cursor: pointer;
}

.CoasterImage {
  width: 600px; 
  overflow: hidden;
  border-radius: 10px; 

  margin-bottom: 20px;
}


.CoasterImage img {
  width: 100%;
  height: auto;
  object-fit: cover; 
  filter: contrast(1.2) saturate(1.1); }


